body {
  background-color: white;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #5252aa;
  color: white;
}

h3 {
  font-weight: normal;
}

h4,
#radio-inputs {
  margin: 1rem;
}

i,
a {
  color: white;
  text-decoration: none;
}

li,
#added,
.settings > h4 {
  color: #1c0749;
  font-size: 1.8rem;
  font-weight: bold;
}

li.location-entry {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  line-height: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar > h3,
.navbar > a {
  margin-right: 2rem;
}

.location-entry,
.settings {
  border: #1c0749 0.2rem solid;
  border-radius: 0.5rem;
  background-color: #e5f8fa;
}

img {
  width: 100%;
  border: #1c0749 0.2rem solid;
  border-radius: 0.5rem;
}

.padding {
  padding: 0 1rem;
}

.margin-right {
  margin-right: 1rem;
}

table {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #e5f8fa;
  border: #1c0749 0.2rem solid;
  border-radius: 0.5rem;
}

th {
  border-bottom: #1c0749 0.2rem solid;
  padding: 0.1rem 0.5rem;
  color: rgba(0, 0, 0, 60%);
}

td {
  color: #1c0749;
  border: #1c0749 0.1rem solid;
  font-weight: bold;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.display-flex {
  display: flex;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  background-color: #e5f8fa;
  border: #1c0749 solid 0.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 12rem;
}

.dark-purple {
  color: #1c0749;
}

.margin-top {
  margin-top: 0.5rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

#added-overlay,
#delete-overlay {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 75%);
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  width: fit-content;
  border-radius: 0.25rem;
  padding: 1rem;
}

button {
  background-color: #5252aa;
  color: white;
  border: #1c0749 solid 0.1rem;
  border-radius: 0.2rem;
  padding: 0.4rem 0.6rem;
  width: auto;
  white-space: nowrap;
  font-weight: bold;
}

#delete-button {
  color: red;
}

#yes-button {
  background-color: red;
}

#button-row {
  justify-content: center;
}

.gray {
  color: rgba(0, 0, 0, 60%);
}

button:hover,
i:hover,
input[type="radio"]:hover {
  cursor: pointer;
}

.add-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.more-info-button {
  margin: 0 1rem;
}

@media screen and (max-width: 890px) {
  .snow {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .rain,
  .showers {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .center {
    align-items: center;
  }
}

@media screen and (max-width: 660px) {
  .apparent-temperature {
    display: none;
  }
}

@media screen and (min-width: 532px) {
  .location-entry {
    max-width: 532px;
  }
}

@media screen and (max-width: 450px) {
  .wind {
    display: none;
  }

  .display-flex {
    display: block;
  }
}
